*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top;
	display: inline-block;
	font-family: arial;
}

body {
	display: block;
	margin: 0 auto;
	width: 970px;
	background-color:#FFFFFF;
	margin-top: -20px;
}

a {
	color: blue;
}

}
#nav {
	display: block;
}
	#nav ul {
		background-color: #eee;
		border-radius: 5px;
		margin: -10px 0 0 530px;
		border: 1px solid gray;
		display: inline-block;
		padding: 8px 7px;
		font-size: 10px;
	}
	#nav ul li:last-child {
		border-right: none;
	}

	#nav ul li {
		padding: 5px 8px 0 8px;
		border-right: 1px solid gray;
	}
	#nav a {
		margin-top: 3px;
		font-size: 11px;
		margin-left: 15px;
		padding: 4px 15px;
		vertical-align: top;
		border-radius: 3px;
		background: linear-gradient(to bottom, #3CB8FC,#1D99E0, #137CC4);
		color: white;
		text-decoration: none;
	}

#header {
	display: block;
	margin: 10px;
}
	#header h1 {
		padding-top: 10px;
		display: inline-block;
	}

#sub-header {
	display: block;
	background-color: #137CC4;
	padding: 15px;
}
	#sub-header h3 {
		color: white;
	}
#gray {
	min-height: 20px;
	background:linear-gradient(to bottom, #ddd, #FFFFFF);
	display: block;
}

#sidebar {
	max-width: 195px;
	margin: -10px 0 0 3px;
}
	#sidebar a{
		border-radius:3px;
		color:white;
		text-decoration: none;
		text-align: center;
		padding: 5px 0;
		font-size: 13px;
		font-weight:bold;
	}
	#sidebar h5 {
		color: #137CC4;
		margin-left: 3px;
		font-size: 14px;
	}
	#sidebar h6{
		display: inline-block;
		margin-left: 3px;
		font-size: 10px;
	}
	#profits {
		padding-top: 5px;
		color: red;
		display:block;
	}
	#sidebar p {
		font-size: 10px;
		text-align: center;
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
		display: block;
		padding-top: 3px;
		margin-left: 3px;
	}
	#sidebar img {
		max-width: 90%;
		margin-top: 15px;
	}

#demo {
	background:linear-gradient(to bottom,#1D99E0,#137CC4);
	display: block;
	margin: 20px 3px 3px 3px;
}

#trial {
	background-color:orange;
	display:block;
	margin: 3px;
}

.home{
/*	border: 1px solid black;*/
	min-height: 60px;
	margin-top: -10px;
}
	.home img {
		margin-left: 225px;
		margin-top: 2px;
	}
	.home h6 {
		color: #aaa;
		font-size: 9px;
		margin: 0 10px 0 -10px;
	}
	.home h3 {
		color: #39ADEF;
		font-size: 21px;
		margin: -5px 10px -5px -10px;
	}
	.home h5 {
		margin-top: 6px;
		margin-right: 280px;
		color: #137CC4;		
	}
	.home div {
		text-align: center;
		max-width: 135px;
/*		background: red;*/
		padding-top: 3px;
	}

#main {
	margin-top: 3px;
	border-top: 2px solid #eee;
	width: 725px;
	margin-left: 20px;
}
	#main h4 {
		margin-top: 5px;
		color:#137CC4;
		font-weight: bold;
		margin-bottom: 10px;
	}
	#main p {
		font-size: 13px;
	}

.list {
	margin: 10px 5px 0 10px;
}